


#menu {
    background-color:#4bb777;
   
}



.header-sec .overlay{
    background:rgba(8, 134, 74, 0.90);
}



.testi-sec .overlay{
    background:rgba(8, 134, 74, 0.80);
}
 



.single-price {
    background-color:rgba(8, 134, 74,1);
}
.multi-price {
    background-color:#4bb777;
}


 .myfooter {
    background-color:#4bb777;
}